<div class="p">
   
<h1>Subjects</h1>
<div class="p">
<div class="my-2" >
  <a href="/subjects/create">Add a new Subject</a>
</div>
{{#each subjects }}
<div>
<a href="/subjects/{{_id}}">
  {{name}}
</a>
</div>
</div>



{{/each}}