<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1> student hello </h1>
   <h1> student hello </h1>
   
   <div>
    <table>
        {{#each students}}
        <tr>
        
            <th>  student name </th>
            <th> num of absence</th>
        </tr>
        <tr>  
          <td>{{name}}</td> 
           <td> 1</td>
           </tr>
           <tr>  
         
        
       
       
        
     
     
    
    {{/each}}
    </table>
   </div>
   

</body>
</html>